/* This is the css styling for the right side component. 
   Dalton Rogers
   12/4/2024
*/

.right-side {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    padding: 10px;
    background-color: #ffe5d8;
    height: 100%;
}

.buttons-container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    padding: 10px;
    align-items: center;
}

.buttons-container button:hover {
    background: linear-gradient(145deg, #777777, #555555);
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    padding: 10px;
}
